<strong>Olá {{ student }}</strong>

<p>Seu questionamento foi respondido, confira os detalhes abaixo:</p>

<p style="margin-bottom: 0;"><strong>Pergunta:</strong></p>
<p style="margin: 0;">{{ question }}</p>

<p style="margin-bottom: 0;"><strong>Resposta:</strong></p>
<p style="margin: 0;">{{ answer }}</p>

<p style="margin-bottom: 0;"><strong>Data da Resposta:</strong></p>
<p style="margin-top: 0;">{{ answer_at }}</p>


<small>
  Caso tenha novas dúvidas fique a vontade para entrar em contato conosco.
</small>
